<a href="https://colab.research.google.com/github/aqililhanputra30/sistem_data_rekomendasi/blob/main/rekomendasi_0030.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import random

df = pd.read_csv("https://raw.githubusercontent.com/aqililhanputra30/sistem_data_rekomendasi/main/rekomendasi.csv")
df.head()

,Mitra,Alamat,Modul
0,Aqil Ilhan Putra,"JL. Sriwijaya Genuk Baru RT02 RW06,Kec.Tegalsa...",Pemrograman Web Jaringan Komputer Sistem Oper...
1,PT Bank Negara Indonesia (Persero) Tbk,"Gedung Grha BNI, Jl. Jend. Sudirman No.10, RT....",Can do attitude Blender Unity Microservices Wi...
2,PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor Jalan HR Rasuna Sai...",Kemampuan Literasi Kemampuan Numerasi Komunika...
3,PT Global Tiket Network,"Wisma Barito Pacific II Lantai. 8, Jalan Letna...",Mastery Design Producing Results Business Know...
4,PT. IlmuKomputerCom Braindevs Sistema,"Menara Bidakara 1 Lantai 2, Jl. Gatot Subroto ...",Critical Thinking Team Work Communication Skil...

In [3]:
df.describe()

,Mitra,Alamat,Modul
count,10,10,10
unique,10,10,10
top,Aqil Ilhan Putra,"JL. Sriwijaya Genuk Baru RT02 RW06,Kec.Tegalsa...",Pemrograman Web Jaringan Komputer Sistem Oper...
freq,1,1,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mitra   10 non-null     object
 1   Alamat  10 non-null     object
 2   Modul   10 non-null     object
dtypes: object(3)
memory usage: 368.0+ bytes

In [12]:
def print_description(index):
    example = df[df.index == index][['Mitra', 'Alamat','Modul']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Mitra:', example[1])
        print('Alamat:', example[2])

In [13]:
print_description(1)

PT Bank Negara Indonesia (Persero) Tbk
Mitra: Gedung Grha BNI, Jl. Jend. Sudirman No.10, RT.10/RW.11, Karet Tengsin, Tanah Abang, Central Jakarta City, Jakarta 10220
Alamat: Can do attitude Blender Unity Microservices Willingness to learn Kafka Angular Agility Collaboration

In [17]:
print_description(0)

Aqil Ilhan Putra
Mitra: JL. Sriwijaya Genuk Baru RT02 RW06,Kec.Tegalsari, Kel.Candisari, Semarang
Alamat:  Pemrograman Web Jaringan Komputer Sistem Operasi Pemrograman Aplikasi Mobile Text Mining

In [22]:
import nltk
nltk.download('stopwords')
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z #+_]')
#stopworda = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub('', text)
    #text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword dari kolom deskripsi
    return text
    
df['modul_pembelajaran_clean'] = df['Modul'].apply(clean_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [23]:
df.head()

,Mitra,Alamat,Modul,modul_pembelajaran_clean
0,Aqil Ilhan Putra,"JL. Sriwijaya Genuk Baru RT02 RW06,Kec.Tegalsa...",Pemrograman Web Jaringan Komputer Sistem Oper...,pemrograman web jaringan komputer sistem oper...
1,PT Bank Negara Indonesia (Persero) Tbk,"Gedung Grha BNI, Jl. Jend. Sudirman No.10, RT....",Can do attitude Blender Unity Microservices Wi...,can do attitude blender unity microservices wi...
2,PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor Jalan HR Rasuna Sai...",Kemampuan Literasi Kemampuan Numerasi Komunika...,kemampuan literasi kemampuan numerasi komunika...
3,PT Global Tiket Network,"Wisma Barito Pacific II Lantai. 8, Jalan Letna...",Mastery Design Producing Results Business Know...,mastery design producing results business know...
4,PT. IlmuKomputerCom Braindevs Sistema,"Menara Bidakara 1 Lantai 2, Jl. Gatot Subroto ...",Critical Thinking Team Work Communication Skil...,critical thinking team work communication skil...

In [24]:
# Deskripsi kedua (Setelah preprocessing)
def print_description_clean(index):
    example = df[df.index == index][['modul_pembelajaran_clean', 'Mitra','Alamat']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Mitra:', example[1])
        print('Alamat:', example[2])

In [25]:
print_description_clean(1)

can do attitude blender unity microservices willingness to learn kafka angular agility collaboration
Mitra: PT Bank Negara Indonesia (Persero) Tbk
Alamat: Gedung Grha BNI, Jl. Jend. Sudirman No.10, RT.10/RW.11, Karet Tengsin, Tanah Abang, Central Jakarta City, Jakarta 10220

In [27]:
print_description(0)

Aqil Ilhan Putra
Mitra: JL. Sriwijaya Genuk Baru RT02 RW06,Kec.Tegalsari, Kel.Candisari, Semarang
Alamat:  Pemrograman Web Jaringan Komputer Sistem Operasi Pemrograman Aplikasi Mobile Text Mining

In [28]:
df.set_index('Mitra', inplace=True)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['modul_pembelajaran_clean'])
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cos_sim

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.02126548, 0.        , 0.        , 0.        , 0.04317049],
       [0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.01612123, 0.        , 0.        , 0.04069835],
       [0.        , 0.        , 0.        , 1.        , 0.1005978 ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.1005978 , 1.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.02126548, 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.01612123, 0.        , 0.        ,
        0.        , 1.        , 0.03548034, 0.04271011, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.03548034, 1.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.04271011, 0.        , 1.        , 0.        ],
       [0.04317049, 0.        , 0.04069835, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ]])

In [29]:
# Set index utama di kolom 'name'
indices = pd.Series(df.index)
indices[:50]

0                                     Aqil Ilhan Putra
1               PT Bank Negara Indonesia (Persero) Tbk
2                            PT Zona Edukasi Nusantara
3                              PT Global Tiket Network
4                PT. IlmuKomputerCom Braindevs Sistema
5                 PT RPN Pusat Penelitian Kelapa Sawit
6                    PT Hacktivate Teknologi Indonesia
7    PT Panji Edukasi Nusantara / Apple Developer A...
8                              PT Ruang Raya Indonesia
9                              PT Marka Kreasi Persada
Name: Mitra, dtype: object

In [30]:
def recommendations(name, cos_sim = cos_sim):
    
    recommended_modul = []
    
    # Mengambil nama modul berdasarkan variabel indicies
    idx = indices[indices == name].index[0]

    # Membuat series berdasarkan skor kesamaan
    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    # mengambil index dan dibuat 3 baris rekomendasi terbaik
    top_10_indexes = list(score_series.iloc[1:4].index)
    
    for i in top_10_indexes:
        recommended_modul.append(list(df.index)[i])
        
    return recommended_modul

In [31]:
recommendations('Aqil Ilhan Putra')

['PT Marka Kreasi Persada',
 'PT RPN Pusat Penelitian Kelapa Sawit',
 'PT Bank Negara Indonesia (Persero) Tbk']

In [33]:
recommendations("PT Bank Negara Indonesia (Persero) Tbk")

['Aqil Ilhan Putra', 'PT Zona Edukasi Nusantara', 'PT Global Tiket Network']

In [35]:
recommendations("PT Ruang Raya Indonesia")

['PT Hacktivate Teknologi Indonesia',
 'Aqil Ilhan Putra',
 'PT Bank Negara Indonesia (Persero) Tbk']